<!--<div class="flex-container mat-elevation-z10" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="reg-card" fxFlex>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title><h2 align="center">SIGNUP</h2></mat-card-title> 
    </mat-card-header>
    <form fxLayout="column" fxLayoutAlign="start" [formGroup]="registerForm" (ngSubmit)="sendRegisterForm()"> 
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Enter Your Name" name="Name" id="Name" class="form-control" formControlName="Name">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="Name.errors">
          <mat-error *ngIf="Name.errors.required">Name Required</mat-error>
          <mat-error *ngIf="Name.errors.pattern">Invalid Name</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Enter Your Mobile Number" name="Mobile" id="Mobile" class="form-control" formControlName="Mobile">
        <mat-icon matPrefix>smartphone</mat-icon>
        <mat-error *ngIf="Mobile.errors">
          <mat-error *ngIf="Mobile.errors.required">Mobile Number Required</mat-error>
          <mat-error *ngIf="Mobile.errors.pattern">Invalid Mobile Number</mat-error>
          <mat-error *ngIf="Mobile.errors.mobNumExists">Mobile Number Already Registered</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Enter Your Email" name="Email" id="Email" class="form-control" formControlName="Email">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="Email.errors">
          <mat-error *ngIf="Email.errors.required">Email Required</mat-error>
          <mat-error *ngIf="Email.errors.email || Email.errors.pattern">Invalid Email</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" name="Password" id="Password" class="form-control" formControlName="Password" matchPassword="Password2" reverse="true">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="Password.errors">
          <mat-error *ngIf="Password.errors.required">Password Required</mat-error>
          <mat-error *ngIf="Password.errors.pattern">Password must be 8 characters with 1 uppercase 1 lowercase 1 number and 1 symbol</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" name="Password2" id="Password2" class="form-control" formControlName="Password2" matchPassword="Password">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="Password2.errors">
          <mat-error *ngIf="Password2.errors.required">Password Required</mat-error>
          <mat-error *ngIf="!Password2.errors.matchPassword">Passwords donot Match</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-radio-group class="radio-group" name="Scope" id="Scope" formControlName="Scope" class="form-control" fxLayoutAlign="start">
        <mat-radio-button  [value]="typeParent">Parent</mat-radio-button>
        <span class="slabel"></span>
        <mat-radio-button [value]="typeTeacher">Teacher</mat-radio-button>
      </mat-radio-group>
      <div fxLayout="column" fxLayoutAlign="center center" class="submit-div">
        <button [disabled]="!registerForm.valid" type="submit" mat-raised-button class="loginbtn" color="primary">Register</button>
      </div>
    </form>
    <div class="divider">
      <span>
        OR 
      </span>
    </div>
    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
      <button mat-raised-button color="warn" (click)="socialSignIn('google')"><i id="g" class="fa fa-google-plus"></i><span>LOGIN WITH GOOGLE</span></button>
      <button mat-raised-button color="primary" (click)="socialSignIn('facebook')"><i id="f" class="fa fa-facebook"></i><span>LOGIN WITH FACEBOOK</span></button>
    </mat-card-actions>
  </mat-card>
</div> Padding is optional-->
<div class="my-theme flex-container">
  <mat-grid-list cols="1" rowHeight="60em">
    <mat-grid-tile ngStyle.lt-md="padding-top:15em;">
  <mat-card class="reg-card" fxFlex>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title><h2 align="center">SIGNUP</h2></mat-card-title> 
    </mat-card-header>
    
    <form fxLayout="column" fxLayoutAlign="start" [formGroup]="registerForm" (ngSubmit)="sendRegisterForm()" fxLayoutGap="20px"> 
        <mat-form-field floatLabel="auto">
            <input matInput placeholder="Enter Your Name" name="Name" id="Name" formControlName="Name" required>
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="Name.errors">
              <mat-error *ngIf="Name.errors.required">Name Required</mat-error>
              <mat-error *ngIf="Name.errors.pattern">Invalid Name</mat-error>
            </mat-error>
        </mat-form-field>
      <mat-form-field floatLabel="auto">
          <input matInput placeholder="Enter Your Mobile Number" name="Mobile" id="Mobile" formControlName="Mobile" required>
          <mat-icon matPrefix>smartphone</mat-icon>
          <mat-error *ngIf="Mobile.errors">
            <mat-error *ngIf="Mobile.errors.required">Mobile Number Required</mat-error>
            <mat-error *ngIf="Mobile.errors.pattern">Invalid Mobile Number</mat-error>
            <mat-error *ngIf="Mobile.errors.mobNumExists">Mobile Number Already Registered</mat-error>
          </mat-error>
        </mat-form-field>
      <mat-form-field floatLabel="auto">
        <input matInput  placeholder="Enter Your Email" name="Email" id="Email" formControlName="Email" required>
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="Email.errors">
          <mat-error *ngIf="Email.errors.required">Email Required</mat-error>
          <mat-error *ngIf="Email.errors.email || Email.errors.pattern">Invalid Email</mat-error>
        </mat-error>
    </mat-form-field>
  <mat-form-field>
      <mat-icon matPrefix>lock</mat-icon>
    <input matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" name="Password" id="Password" formControlName="Password" matchPassword="Password2" reverse="true" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="Password.errors">
        <mat-error *ngIf="Password.errors.required">Password Required</mat-error>
        <mat-error *ngIf="Password.errors.pattern">Password must be 8 characters with 1 uppercase 1 lowercase 1 number and 1 symbol</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
      <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" name="Password2" id="Password2" formControlName="Password2" matchPassword="Password" required>
        
      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="Password2.errors">
        <mat-error *ngIf="Password2.errors.required">Password Required</mat-error>
        <mat-error *ngIf="!Password2.errors.matchPassword">Passwords donot Match</mat-error>
      </mat-error>
      </mat-form-field>
    

      <mat-radio-group class="radio-group" name="Scope" id="Scope" formControlName="Scope" fxLayoutAlign="start">
        <mat-radio-button  [value]="typeParent">Parent</mat-radio-button>
        <span class="slabel"></span>
        <mat-radio-button [value]="typeTeacher">Teacher</mat-radio-button>
      </mat-radio-group>
    <div fxLayout="column" fxLayoutAlign="center center">
    <button [disabled]="!registerForm.valid" type="submit" mat-raised-button class="loginbtn" color="primary">Register <mat-icon class="send">send</mat-icon></button>
    </div>
</form>
<div class="divider">
    <span>
      OR <!--Padding is optional-->
    </span>
  </div>
    <mat-card-actions fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">
      <button (click)="socialSignIn('google')" mat-raised-button color="warn" fxFlex="1 1 auto"><i id="g" class="fa fa-google-plus"></i><span>LOGIN WITH GOOGLE</span></button>
      <button (click)="socialSignIn('facebook')" mat-raised-button color="primary" fxFlex="1 1 auto"><i id="f" class="fa fa-facebook"></i><span>LOGIN WITH FACEBOOK</span></button>
    </mat-card-actions>
    </mat-card>
</mat-grid-tile>
</mat-grid-list> 
</div>
