<div class="flex-container my-theme" style="background-color: #bdbdbd;" >
    <mat-grid-list class="courseintro" cols="2" rowHeight="5em" gutterSize="20px"   style="background-color: black;">
                <mat-grid-tile class="coursewall" fxLayoutwrap colspan="2" [rowspan]="4" fxLayout="column" fxLayoutAlign="center center"  fxFlex="1 1 auto" fxFlexFill >
                 <div>                    <h1>{{course.courseTitle}}</h1> 

                  <div fxLayout="column" fxLayoutAlign="center center"  fxFlex="1 1 auto" fxFlexFill>
                      <button (click)="onEnrollCourse(course.courseID, course.courseScope)" mat-raised-button color="primary" style="width: 80%;">Enroll Here</button>
                    </div>
                
                </div>
  
        
                  </mat-grid-tile>
    </mat-grid-list>
  <mat-grid-list class="courseintro2" cols="2" rowHeight="5em" gutterSize="0px"  >
                  <mat-grid-tile   colspan="2" 
                  [rowspan]="rowspan | async" fxLayoutwrap >
                   <mat-card  class="coursedetails"  fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto" fxFlexFill  fxLayoutwrap>
                  <div><p align="justify">
                  <strong>About this Course : </strong> {{course.courseDetail}}
                    
                  </p>
                  <mat-divider style="width: 100%; border: 2px #bdbdbd solid"></mat-divider>
              </div>
                  </mat-card> 
                  </mat-grid-tile>  
                  <mat-grid-tile  fxLayoutwrap  colspan="2" [rowspan]="rowspan | async" >
                      <mat-card  class="coursemoredetails"   fxLayout="column"   fxLayoutAlign="center center" fxFlex="1 1 auto" fxFlexFill  fxLayoutwrap  >
                          <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto"  ngStyle.lt-md="padding-left:20px; padding-right:20px;"> 
                            <div fxFlex>
                          <mat-list id="table" role="list">
                              <mat-list-item role="listitem"><mat-icon matListIcon color="warn" >alarm</mat-icon>Hours</mat-list-item>
                              <mat-list-item role="listitem"><mat-icon matListIcon color="warn" >book</mat-icon>Lectures</mat-list-item>
                              <mat-list-item role="listitem"><mat-icon matListIcon color="warn" >insert_drive_file</mat-icon> Articles</mat-list-item>
                              <mat-list-item role="listitem"> <mat-icon matListIcon color="warn">star_border</mat-icon> Ratings </mat-list-item>
                              
                            </mat-list>
                            
                          </div>
                          <div  fxFlex>
                            <mat-list id="table" role="list">
                                <mat-list-item role="listitem">2.08hrs/125min</mat-list-item>
                                <mat-list-item role="listitem">18</mat-list-item>
                                <mat-list-item role="listitem">3</mat-list-item>
                                <mat-list-item role="listitem"> <mat-icon matListIcon color="warn">star</mat-icon>  <mat-icon matListIcon color="warn">star</mat-icon>  <mat-icon matListIcon color="warn">star</mat-icon>  <mat-icon matListIcon color="warn">star</mat-icon>  <mat-icon matListIcon color="warn">star</mat-icon>  </mat-list-item>
                              </mat-list>
                            </div>
                         
                        </div>
                        <div style="padding-top: 10px; ">
                            <mat-divider style="width: 100%; border: 2px #bdbdbd solid"></mat-divider>
                          </div>
                            
                     </mat-card>
     
                     </mat-grid-tile>         
  </mat-grid-list>
  <div class="course-structure" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutwrap fxFlexFill  [ngStyle.xs]="'padding-left:0;padding-right:0;'">
     <div style="width: 100%" fxFlex fxAlign="center">
      <mat-accordion style="min-width:100vw ;min-height:100%;" fxFlex>
        <mat-expansion-panel  hideToggle="true" expanded="true" (click)="syllabusiconclick()">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>{{syllabusicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
              <strong>Course Map :</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
      
           <mat-accordion style="min-width:100vw ;min-height:100%;" multi="true" fxFlex>
              <mat-expansion-panel *ngFor="let session of course.courseSessions" hideToggle="true" (click)="sessioniconclick()" style="padding-bottom: 30px;" >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>{{sessionicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                      <h4><strong>{{session.sessionWeek}} : {{session.sessionTitle}}</strong></h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <mat-card > 
                    
                    <mat-card-header><mat-card-title><h5>{{session.sessionWeek}}</h5></mat-card-title>   </mat-card-header>  
                     <mat-list> 
                          <mat-list-item role="listitem" *ngFor="let lecture of session.lectures">{{lecture.lectureTitle}} : {{lecture.lectureDetails}}</mat-list-item>
                          
                        </mat-list>
                        
                  </mat-card>
                </mat-expansion-panel>
  
             </mat-accordion>
        </mat-expansion-panel>
     
      
      </mat-accordion>
          
      
     </div>
  
  </div>
  <div class="course-structure" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutwrap fxFlexFill  [ngStyle.xs]="'padding-left:0px;padding-right:0px;'">
      <div  *ngIf="checkLogin()" fxFlex="1 1 auto" fxFlexFill>
          <mat-card class="comments-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutwrap fxFlex="1 1 auto" fxFlexFill  >  
              <mat-card-header> <mat-card-title><h4 class="text-black">Please give a review and rate this course  :</h4></mat-card-title> </mat-card-header>    
              <mat-card-content>     
                  <form [formGroup]="commentForm" (ngSubmit)="sendCommentForm()">            
                      <mat-form-field  style="width:100%;" >
                          <mat-icon matPrefix>message</mat-icon>
                          <textarea matInput placeholder="Comment" style="width:100%;" name="CommentBody" id="CommentBody" formControlName="CommentBody">
                            
                          </textarea>
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="contact-btn" color="primary">Comment<mat-icon class="send">send</mat-icon></button>
                  </form>
              </mat-card-content> 
            </mat-card>
        </div>
    <div style="width: 100%" fxFlex fxAlign="center">
       <mat-accordion style="min-width:100vw ;min-height:100%;" fxFlex>
         <mat-expansion-panel  hideToggle="true" (click)="ratingiconclick()">
           <mat-expansion-panel-header>
             <mat-panel-title>
                 <mat-icon>{{ratingicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
               <strong>Ratings ang Reviews :</strong>
             </mat-panel-title>
           </mat-expansion-panel-header>
       
           <mat-card *ngFor="let comment of comments"> 
             
             <mat-card-header><mat-card-title style="font-size:1em "> {{comment.commentUser}}</mat-card-title>  <div fxFlex></div>  <mat-card-actions *ngIf="checkLogin()" align="end"><button *ngIf="user.userID == comment.commentUserID" (click)="onDelete(comment.commentID)" mat-mini-fab>Del</button></mat-card-actions> </mat-card-header>  
               <p class="text-black"> {{comment.commentBody}}</p>
           </mat-card>
         </mat-expansion-panel>
      
       
       </mat-accordion>
           
       
      </div>
   
   </div>
  </div>
  
  