agm-map {
    width: 40vw;
    height: 40vw;
}
.gmap{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-card {
    margin-top:5em; 
    margin-bottom: 5em ; 
    max-width: 40vw;  
    min-width: 40vw ;
    min-height: 40vw;
    max-height: 40vw;
    z-index: 10;
}
.contact-btn{
    max-width: 20vw;
}
textarea{
    min-height: 150px;
}
.mat-icon{
    vertical-align: -20%;
}
.send{
    vertical-align: -30%;
}