<div>
<div style="margin-top: 64px;">
        <div>
         <mat-grid-list cols="1" rowHeight="100px">
         <mat-grid-tile style="background-color:#29303B">
            <mat-card >
                <mat-card-content>
                    <p>Welcome To Teachers Time</p>
                </mat-card-content>
              </mat-card>
         </mat-grid-tile>
         </mat-grid-list>
         </div>
      
         <div fxHide.lt-md="true">
          
                  <nav mat-tab-nav-bar>
                      <a mat-tab-link
                         *ngFor="let link of navLinks"
                         [routerLink]="link.path"
                         routerLinkActive #rla="routerLinkActive"
                         [active]="rla.isActive">
                        {{link.label}}
                      </a>
                    </nav>
              
           
            </div>
          </div>
       
<router-outlet></router-outlet>
</div>