<!--<div class="flex-container mat-elevation-z10" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="login-card" fxFlex>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title><h2 align="center">LOGIN</h2></mat-card-title>
    </mat-card-header>
    <form fxLayout="column" fxLayoutAlign="start" [formGroup]="loginForm" (ngSubmit)="sendLoginForm()"> 
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Your Mobile Number" name="loginMobile" id="loginMobile" class="form-control" formControlName="loginMobile" required>
        <mat-icon matPrefix>smartphone</mat-icon>
        <mat-error *ngIf="loginMobile.errors">
          <mat-error *ngIf="loginMobile.errors.required">Mobile Number Required</mat-error>
          <mat-error *ngIf="loginMobile.errors.pattern">Invalid Mobile Number</mat-error>
          <mat-error *ngIf="loginMobile.errors.mobNumExists">No User under this Mobile Number</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Your Password" [type]="hide ? 'password' : 'text'" name="loginPassword" id="loginPassword" class="form-control" formControlName="loginPassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="loginPassword.errors && (loginPassword.errors.required || loginPassword.pristine)">Password Required</mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button [disabled]="!loginForm.valid" mat-raised-button type="submit" class="loginbtn" color="primary">Login</button>
      </div>
    </form>
    <div class="divider">
      <span>
        OR <!--Padding is optional
      </span>
    </div>
    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
      <button mat-raised-button color="warn" (click)="socialSignIn('google')"><i id="g" class="fa fa-google-plus"></i><span>LOGIN WITH GOOGLE</span></button>
      <button mat-raised-button color="primary" (click)="socialSignIn('google')"><i id="f" class="fa fa-facebook"></i><span>LOGIN WITH FACEBOOK</span></button>
    </mat-card-actions>
  </mat-card>
</div>-->
<div class="my-theme flex-container" 
fxLayout="column" >
<mat-grid-list cols="1" rowHeight="40em">
<mat-grid-tile>
<mat-card class="login-card" fxFlex>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title><h2 align="center">LOGIN</h2></mat-card-title> 
    </mat-card-header>
    
     <form fxLayout="column" fxLayoutAlign="start"  name="loginMobile" id="loginMobile" [formGroup]="loginForm" (ngSubmit)="sendLoginForm()"> 
       <mat-form-field floatLabel="auto">
    <input matInput placeholder="Your Mobile Number" formControlName="loginMobile" required>
    <mat-icon matPrefix>smartphone</mat-icon>
    <mat-error *ngIf="loginMobile.errors">
      <mat-error *ngIf="loginMobile.errors.required">Mobile Number Required</mat-error>
      <mat-error *ngIf="loginMobile.errors.pattern">Invalid Mobile Number</mat-error>
      <mat-error *ngIf="loginMobile.errors.mobNumExists">No User under this Mobile Number</mat-error>
    </mat-error>
     </mat-form-field>
  <mat-form-field >
      <mat-icon matPrefix>lock</mat-icon>
    <input matInput placeholder="Your Password" [type]="hide ? 'password' : 'text'" name="loginPassword" id="loginPassword" formControlName="loginPassword" required>
      
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="loginPassword.errors && (loginPassword.errors.required || loginPassword.pristine)">Password Required</mat-error>
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="center center">
    <button [disabled]="!loginForm.valid" type="submit" mat-raised-button class="loginbtn" color="primary">Login <mat-icon class="send">send</mat-icon></button>
    </div>
</form>
<div class="divider">
    <span>
      OR <!--Padding is optional-->
    </span>
  </div>
    <mat-card-actions fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">
      <button (click)="socialSignIn('google')" mat-raised-button color="warn" fxFlex="1 1 auto"><i id="g" class="fa fa-google-plus"></i><span>LOGIN WITH GOOGLE</span></button>
      <button (click)="socialSignIn('facebook')" mat-raised-button color="primary" fxFlex="1 1 auto"><i id="f" class="fa fa-facebook"></i><span>LOGIN WITH FACEBOOK</span></button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
  </div>