<div class="flex-container my-theme">
     <div class="my-theme" fxLayout="column" fxLayoutwrap fxLayoutAlign="end end">
      <div style="padding: 2em;"><button mat-raised-button color="primary"  (click)="onView()">{{show ? 'View Profile' : 'Edit Profile'}}</button></div>
     </div>
    <div *ngIf="!show; else showProfile" >
        <mat-grid-list cols="1" rowHeight="40em" fxLayout="column" fxLayoutwrap >
            <mat-grid-tile ngStyle.lt-md="padding-top:15em;" fxLayoutwrap>
          <mat-card class="reg-card" fxFlex fxFlexFill>
            <mat-card-header fxLayout="column" fxLayoutAlign="center center">
              <mat-card-title><h2 align="center">Edit Profile</h2></mat-card-title> 
            </mat-card-header>
            
            <form fxLayout="column" fxLayoutAlign="start" [formGroup]="profileForm" (ngSubmit)="sendProfileForm()"> 
                <mat-form-field floatLabel="auto">
                    <input matInput placeholder="Name" name="Name" id="Name" formControlName="Name">
                    <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>
              <mat-form-field floatLabel="auto">
                        <input matInput placeholder="Email" name="Email" id="Email" formControlName="Email">
                        <mat-icon matPrefix>email</mat-icon>
                </mat-form-field>
                <mat-form-field floatLabel="auto" *ngIf="checkTag()">
                    <input matInput placeholder="Mobile" name="Mobile" id="Mobile" formControlName="Mobile">
                    <mat-icon matPrefix>smartphone</mat-icon>
              </mat-form-field>
                <mat-radio-group class="radio-group" name="Gender" id="Gender" formControlName="Gender">
                    <mat-radio-button  [value]="genderMale">Male</mat-radio-button>
                    <span class="slabel"></span>
                    <mat-radio-button [value]="genderFemale">Female</mat-radio-button>
                </mat-radio-group>
            <mat-form-field floatLabel="auto">
              <textarea matInput placeholder="Location"  name="Location" id="Location" formControlName="Location"></textarea>
              <mat-icon matPrefix>location_on</mat-icon>
              </mat-form-field>
              <mat-form-field>
             <mat-select placeholder="Institute Type" name="InstituteType" id="InstituteType" formControlName="InstituteType">
                  <mat-option *ngFor="let inst of institute" [value]="inst.value">
                    {{ inst.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-icon matPrefix>school</mat-icon>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Institute name" name="InstituteName" id="InstituteName" formControlName="InstituteName">
                  <mat-icon matPrefix>school</mat-icon>
                  </mat-form-field>
                  <mat-radio-group class="radio-group" name="Scope" id="Scope" formControlName="Scope">
                    <mat-radio-button  [value]="typeParent">Parent</mat-radio-button>
                    <span class="slabel"></span>
                    <mat-radio-button [value]="typeTeacher">Teacher</mat-radio-button>
                    <span class="slabel"></span>
                    <mat-radio-button [value]="typeBoth">Both</mat-radio-button>
                  </mat-radio-group>
                  
            
             
      
            <div fxLayout="column" fxLayoutAlign="center center">
            <button [disabled]="!profileForm.valid" type="submit" mat-raised-button class="updatebtn" color="primary">Update Profile</button>
            </div>
        </form>
          
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list> 
    </div>
    <ng-template #showProfile>
   <div>
    <mat-grid-list cols="1" rowHeight="40em">
      <mat-grid-tile fxLayoutwrap ngStyle.lt-md="padding-top:15em;">
    <mat-card class="profile-card" fxLayout="column"  fxLayoutAlign="center center" fxLayoutwrap fxFlexFill >
        <div  fxFlex="1 1 auto"> 
        <img mat-card-md-image src="../../../../../assets/img/user.svg">  
        <mat-card-title fxAlign="center">{{user.name}}</mat-card-title> 
        <mat-card-subtitle fxAlign="center">{{user.type}}</mat-card-subtitle> 
     </div>
     <div fxFlex="1 1 auto"> 
      <mat-card-content>
          <mat-list>
              <h3 mat-subheader>Basic Info</h3>
              <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>{{user.name}}</h4>
               </mat-list-item>
              <mat-list-item>
                  <mat-icon mat-list-icon>email</mat-icon>
                  <h4 mat-line>{{user.email}}</h4>
            
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>smartphone</mat-icon>
                    <h4 mat-line>{{user.mobile}}</h4>
                  </mat-list-item>
                  <mat-list-item>
                      <mat-icon mat-list-icon>people</mat-icon>
                      <h4 mat-line>{{user.gender}}</h4>
                    
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>location_city</mat-icon>
                        <h4 mat-line>{{user.location}}</h4>
                       
                      </mat-list-item>
                      <mat-list-item>
                          <mat-icon mat-list-icon>school</mat-icon>
                          <h4 mat-line>{{user.institutename}}</h4>
                         
                        </mat-list-item>
            </mat-list>
            
       
      
      </mat-card-content>  
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> 
</div>
</ng-template>
</div>
