.course-card
{
    background:indigo;  
    max-height:100%;  
    max-width:50% ;
    max-width: 90vmax;   
}
.send{
    vertical-align: -30%;
    padding-left: 0.5em;
}
.course-btn{
    min-width: 10vw;
    max-width: 40vw;
}