<!--<input [(ngModel)]="filter.courseTitle" placeholder="search text goes here">
<div *ngFor="let course of courses | coursefilter : filter">
<mat-card class="example-card">
    <mat-card-header >
      
      <mat-card-title>{{course.courseTitle}}</mat-card-title>
      
    </mat-card-header>
    
    <mat-card-content>
      <p>
        {{course.courseDetail}}
      </p>
    </mat-card-content>
   
</mat-card>
</div>
<div class=" my-theme flex-container">
  <mat-grid-list cols="1" rowHeight="56" style="margin-top :5em;"> 
      
  <mat-grid-tile >
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex >
      <div style="width: 100%;">          
          <mat-form-field class="example-full-width" style="width:90vw">
              <input matInput [(ngModel)]="filter.courseTitle"  placeholder="Search"  style="width: 90vw;">
              <mat-icon matSuffix >search</mat-icon>
            </mat-form-field>
    </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
<mat-grid-list  [cols]="cols | async" rowHeight="40px"   gutterSize="10px"  gutterSize.lt-sm="0"   >
  <div *ngFor="let course of courses | coursefilter : filter">
  <mat-grid-tile [rowspan]="rowspan | async">
 <mat-card class="example-card"  style="  width:100%; height:calc(100%-10px);  max-width: 95vw;" >
    <mat-card-header ><mat-card-title><h3>{{course.courseTitle}}</h3></mat-card-title> </mat-card-header>
      <img matCardImage src="../../../../../assets/img/python.jpg">
      <p align="justify">
      {{course.courseDetail}}
     </p>
      <mat-card-actions>
        <button mat-raised-button color="primary" >Start</button>
      </mat-card-actions>
    </mat-card>
</mat-grid-tile>
</div>
</mat-grid-list>
</div>-->
<div class="my-theme flex-container">
  
<mat-grid-list cols="1" rowHeight="56" style="margin-top :5em;"> 
      
  <mat-grid-tile style="padding-top: 6em;">
  <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutwrap>
      <div style="width: 100%;" fxFlex>          
          <mat-form-field class="example-full-width" style="width:90vw">
              <input matInput [(ngModel)]="filter.courseTitle"  placeholder="Search"  style="width: 90vw;">
              <mat-icon matSuffix >search</mat-icon>
            </mat-form-field>
    </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
<div style="padding-left:2%; padding-right:2%; padding-top:2%; ">
  <mat-grid-list  [cols]="cols | async" rowHeight="40px"   gutterSize="10px"  >
     <mat-grid-tile *ngFor="let course of courses | coursefilter : filter" fxLayoutwrap [rowspan]="rowspan | async"  style="background: black;">

   
    <mat-card  fxLayoutAlign="start start" fxLayout="column" class="course-card" fxFlex="1 1 auto" fxFlexFill    >
        <mat-card-header>
          <mat-card-title>
          <h3 class="text-white">{{course.courseTitle}}</h3>
       </mat-card-title>
       </mat-card-header>
         <img matCardImage src="../../../../../assets/img/python.jpg">
         <mat-card-content  [style.height.px]="'250px'">
         
           <p  align="justify" class="text-white">
            {{course.courseDetail}}
           
         </p>
         <button align="justify" mat-raised-button color="primary" class="course-btn">Learn More <mat-icon class="send">info</mat-icon></button>
         <button [hidden]="!hideLogin()" (click)="onEnrollCourse(course.courseID)" align="justify" mat-raised-button color="primary" class="course-btn">Enroll <mat-icon class="send">add</mat-icon></button>
         </mat-card-content>
         <mat-card-actions>
             
         </mat-card-actions>
       <mat-card-footer>

       </mat-card-footer>
       </mat-card>
      
 </mat-grid-tile>
</mat-grid-list>
</div>
</div>