<div class="flex-container">
  
        <mat-grid-list cols="1" rowHeight="40em">
            <mat-grid-tile ngStyle.lt-md="padding-top:15em;" fxLayoutwrap>
                <mat-card>
                    <mat-card-content>
                      <h2 class="settengs-header">Settings</h2>
                      <mat-tab-group class="demo-tab-group">
                        <mat-tab label="Change Email">
                          <div class="settings-content">
                            <form fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" [formGroup]="settingsForm1" (ngSubmit)="sendSettingsForm1()"> 
                             
                                <mat-form-field floatLabel="auto" >
                                    <input matInput placeholder="Mobile Number" name="Mobile" id="Mobile" formControlName="Mobile" matchPassword="Mobile2" reverse="true">
                                    <mat-icon matPrefix>smartphone</mat-icon>
                                    <mat-error *ngIf="Mobile.errors && Mobile.dirty">
                                            
                                        <mat-error *ngIf="Mobile.errors.required">Mobile Number Required</mat-error>
                                        <mat-error *ngIf="Mobile.errors.pattern">Invalid Mobile Number</mat-error>
                                        <mat-error *ngIf="Mobile.errors.mobNumExists">Mobile Number Already Registered</mat-error>
                                     
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field floatLabel="auto" >
                                        <input matInput placeholder="Confirm Mobile Number" name="Mobile2" id="Mobile2" formControlName="Mobile2" matchPassword="Mobile">
                                        <mat-icon matPrefix>smartphone</mat-icon>
                                        
                                        <mat-error *ngIf="Mobile2.errors && Mobile2.dirty">
                                            <mat-error *ngIf="Mobile2.errors.required">Mobile Number Required</mat-error>
                                            <mat-error *ngIf="!Mobile2.errors.matchPassword">Numbers donot Match</mat-error>
                                          </mat-error>
                                        
                                    </mat-form-field>
                                    <mat-form-field>
                            
                                        <input matInput placeholder="Input Old Password to Confirm" [type]="hide ? 'password' : 'text'" name="Password" id="Password" formControlName="Password">
                                          
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        
                                        <mat-error *ngIf="Password.errors && Password.dirty">
                                            <mat-error *ngIf="Password.errors.required">Current Password Required</mat-error>
                                          </mat-error>
                                        
                                </mat-form-field>
                               
                      
                            <div fxLayout="column" fxLayoutAlign="center center">
                            <button type="submit" mat-raised-button class="loginbtn" color="primary">Save</button>
                            </div>
                        </form>
                          </div>
                        </mat-tab>
                        <mat-tab label="Password Change">
                          <div class="settings-content">
                            <form fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" [formGroup]="settingsForm2" (ngSubmit)="sendSettingsForm2()"> 
                             
                            
                            <mat-form-field>
                                <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" name="NewPassword" id="NewPassword" formControlName="NewPassword" matchPassword="NewPassword2" reverse="true">
                                  
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="NewPassword.errors && NewPassword.dirty">
                                    <mat-error *ngIf="NewPassword.errors.required">Password Required</mat-error>
                                    <mat-error *ngIf="NewPassword.errors.pattern">Password must be 8 characters with 1 uppercase 1 lowercase 1 number and 1 symbol</mat-error>
                                  </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" name="NewPassword2" id="NewPassword2" formControlName="NewPassword2" matchPassword="NewPassword">
                                      
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="NewPassword2.errors && NewPassword2.dirty">
                                        <mat-error *ngIf="NewPassword2.errors.required">Password Required</mat-error>
                                        <mat-error *ngIf="!NewPassword2.errors.matchPassword">Passwords donot Match</mat-error>
                                      </mat-error>
                                </mat-form-field>
                                
                                <mat-form-field>
                            
                                    <input matInput placeholder="Input  Old Password to Confirm" [type]="hide ? 'password' : 'text'" name="CurrentPassword" id="CurrentPassword" formControlName="CurrentPassword">
                                      
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="CurrentPassword.errors && CurrentPassword.dirty">
                                        <mat-error *ngIf="CurrentPassword.errors.required">Current Password Required</mat-error>
                                      </mat-error>
                            </mat-form-field>
                               
                      
                            <div fxLayout="column" fxLayoutAlign="center center">
                            <button type="submit" mat-raised-button class="loginbtn" color="primary">Save</button>
                            </div>
                        </form>
                          </div>  
                        </mat-tab>
                        
                      </mat-tab-group>
                    </mat-card-content>
                  </mat-card>
                  
                  
        </mat-grid-tile>
      </mat-grid-list> 
    </div>


   <!-- <mat-card class="reg-card" fxFlex>
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title><h2 align="center">Settings</h2></mat-card-title> 
        </mat-card-header>
        
        <form fxLayout="column" fxLayoutAlign="start"> 
            <mat-form-field>
        
                <input matInput placeholder="Input  Old Password to Confirm" [type]="hide ? 'password' : 'text'" >
                  
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>

            <mat-form-field floatLabel="auto" >
                <input matInput placeholder="Email">
                <mat-icon matPrefix>mail_outline</mat-icon>
                </mat-form-field>
         
        <mat-form-field>
            <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'">
              
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" >
                  
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
               
           
        
  
  
        <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button class="loginbtn" color="primary">Save</button>
        </div>
    </form>
      
        </mat-card>-->