/*.reg-card {
    margin-top:2em; 
    margin-bottom: 5em ; 
    max-width: 80vmax;  
    min-width: 80vmax ;
    min-height: 400px;
    max-height: 1000px;
    z-index: 10;
    
  }
  .divider{
    width: 100vwmin; 
    height: 20px;
    border-bottom: 2px 
    solid black; 
    text-align: center; 
    margin-top:10px;  
    margin-bottom:10px;
  }
  .divider span{
    font-size: 20px;
    background-color: #ffffff; 
    padding: 0 10px;
  }
.checkbox span{
    margin-left: 20px;
}
.updatebtn{
  max-width: 20vw;;
}
mat-card-actions .mat-raised-button{
  margin-bottom: 2em;
}*/
.mat-raised-button span 
{
 padding-left:20px    
}
.demo-tab-group {
  border: 1px solid #e8e8e8;
}
.settings-content {
  padding: 16px;
}
mat-icon{
  vertical-align: -20%;
}