<div [hidden]="!loading" class="loader" >
  <div class="container">    
    <mat-spinner></mat-spinner>
  </div>
</div>
 
<div [hidden]="loading" class="router-output">
<section class="my-theme app flex-container" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-toolbar class="nav-bar mat-elevation-z10"  color="primary" >
      <mat-toolbar-row>
              <div fxShow="true" fxHide.gt-sm="true">
                  <button mat-button id="navbutton" (click)="sidenav.toggle()"><i class="material-icons">view_headline</i></button>
              </div>
          <button mat-button id="navbutton" routerLink= "/home" routerLinkActive="active" ><h2><strong>Teachers Time</strong></h2></button>
            <div fxShow="true" fxHide.lt-md="true">
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
              <button mat-button id="navbutton"  routerLink= "/home" routerLinkActive="active" > <i class="material-icons">home</i><span class="icon-text">Home</span> </button>
              <button mat-button id="navbutton" routerLink= "/courses" routerLinkActive="active" > <i class="material-icons">import_contacts</i> <span class="icon-text">Courses</span></button>
              <button mat-button id="navbutton" routerLink= "/us/contact" routerLinkActive="active" > <i class="material-icons">contact_mail</i><span class="icon-text">Contact</span></button>
            </div>
          <span class="fill-remaining-space" fxShow="true" fxHide.lt-md="true" ></span>
          <span class="right-nav" fxShow="true" fxHide.lt-md="true">
              <button mat-button id="navbutton" routerLink= "/auth/register" routerLinkActive="active" > <i class="material-icons">person_add</i> <span class="icon-text">Register</span></button>
              <button mat-button  id="navbutton" routerLink= "/auth/login" routerLinkActive="active" ><i class="material-icons">person</i> <span class="icon-text">Login</span></button>
              <button mat-icon-button [matMenuTriggerFor]="menu"> <i class="material-icons" id="account">account_circle</i></button>
              <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
              <button mat-menu-item><mat-icon>account_box</mat-icon>Dashboard</button>
              <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
              <button mat-menu-item><mat-icon>power_settings_new</mat-icon>Logout</button>
            </mat-menu>
          </span>
      </mat-toolbar-row>
    </mat-toolbar>
   <mat-sidenav-container fxFlex>
     <mat-sidenav #sidenav class="mat-elevation-z6" mode="side" align="start" c ngStyle.xs="width:50vw;">
     </mat-sidenav>
     <mat-sidenav-content>
    
      <router-outlet></router-outlet>
    
      <div class="bounds" color="primary">
      
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill >
             
            <div fxFlex="40" class="sec1" fxFlex.xs="50" ngStyle.xs="text-align:center" >
                <h3 >Teachers Time</h3>
                <p text-align="left">Teachers Time is a platform to support new parents and school teachers so that they can unleash the potential of children. We aware, educate and help new parents on Early Childhood Development and develop professional skills of teachers. We support school managements to ensure overall school development through our services.
            </p>
            </div>
            <div fxFlex="30" class="sec2" fxFlex.xs="50" ngStyle.xs="text-align:center" >
                <h3 class="useful-link"><strong>Useful Links</strong></h3> 
              <ul class="contactus">
                    <li> <a mat-button routerLink= "/us/about" routerLinkActive="active"> <mat-icon> info</mat-icon><span class="icon-text">About</span></a></li>
                    <li> <a mat-button routerLink= "/us/terms" routerLinkActive="active"> <mat-icon> description</mat-icon> <span class="icon-text-terms">Terms of Service</span></a> </li>
                    <li> <a mat-button routerLink= "/us/privacy" routerLinkActive="active"> <mat-icon> security</mat-icon><span class="icon-text">Privacy Policy</span> </a> </li>
                    <li> <a mat-button routerLink= "/us/contact" routerLinkActive="active"> <mat-icon> contact_mail</mat-icon><span class="icon-text">Contact</span></a></li>
            </ul>
                   
            </div>
            <div fxFlex="30" class="sec3" fxFlex.xs="50" ngStyle.xs="text-align:center">
                <h3 class="contact-us"><strong>Contact Us</strong></h3> 
                <ul class="contactus" color="primary">
                      <li>  <p> <mat-icon id="ab">contact_phone</mat-icon> Rezina Garden, House 67/A, Road 9/A, Dhanmondi, Dhaka, Bangladesh 1209</p></li>
                      <li> <p> <mat-icon id="ab">phone</mat-icon> +880 1777-800866 </p></li>
                      <li> <p> <mat-icon id="ab">email</mat-icon> Privacy Policy</p> </li>
                      <li class="social-icons icon-circle icon-zoom list-unstyled list-inline"> <span><i class="fa fa-facebook"></i></span> <span><i class="fa fa-youtube"></i></span> <span><i class="fa fa-google-plus"></i></span> <span><i class="fa fa-instagram"></i></span></li>
                </ul>
                                     
          </div>
            
        </div>
        
      </div>  
    </mat-sidenav-content>
   </mat-sidenav-container>
  </section>
</div>
  
  