.inputFile{
    margin-top: 65px;
    margin-left: 30px;
}
.inputFile2{
    margin-left: 30px;
}
.session-div{
    margin-left: 10px;
}
.lecture-div{
    margin-left: 20px;
}
.question-div{
    margin-left: 30px;
}