<div class=" my-theme flex-container" fxLayout="column wrap" fxLayoutGap="20px"  fxFill>
  <div>
     <mat-grid-list class="hintro" [cols]="introcols | async" rowHeight="34em" gutterSize="0px"  >
         <mat-grid-tile class="intro" colspan="1" rowspan="1">
           <div fxLayout="row wrap"  fxLayout.lt-md="column wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" fxFlex>
           <div class="tintro" fxLayout="row wrap" fxLayout.lt-md="column wrap" fxFlex  fxLayoutAlign="start center"  fxLayoutAlign.lt-md="start center"  fxFlex.lt-md  >  
               <h1>WELCOME TO TEACHERS TIME </h1> 
               <h6>Teachers Time is a platform to support new parents and school teachers so that they can unleash the potential of children. We aware, educate and help new parents on Early Childhood Development and develop professional skills of teachers. We support school managements to ensure overall school development through our services.</h6>
               <div fxLayout="row wrap" fxlayout.lt-sm="column wrap" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center" fxLayoutWrap >
               <button mat-raised-button color="accent" routerLink= "/auth/login" routerLinkActive="active">Start Here</button>
                
              </div>
             </div>
             </div>
           </mat-grid-tile>
             <mat-grid-tile class="intro" colspan="1" rowspan="1">
                 <div fxLayout="row wrap"  fxLayout.lt-sm="column wrap" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center" fxFill>
             <div class="tintrovid"  fxLayout.lt-sm="column wrap" fxFlex  fxLayoutAlign="end center"  fxLayoutAlign.lt-md="center start"  fxFlex.lt-md >
              <div>
               <iframe ngStyle.sm="width:90vw;height=240px;" ngStyle.xs="width:300px;height=240px;" width="640px  " height="360px" src="https://www.youtube.com/embed/btIkUKoVbfY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
               </iframe>
             </div>
             </div>
             </div>
          
          
           </mat-grid-tile>                
  </mat-grid-list>
 </div>
<div *ngIf="coursesTeacher" style="padding-left:2%; padding-right:2%; ">
  <h5>Featured Courses for Teachers:</h5>
  <mat-grid-list  [cols]="cols | async" rowHeight="40px"   gutterSize="10px"  >
     <mat-grid-tile
    *ngFor="let course of coursesTeacher" fxLayoutwrap
     [rowspan]="rowspan | async"  style="background: black;">

   
    <mat-card  fxLayoutAlign="start start" fxLayout="column" class="course-card" fxFlexFill >
        <!-- <mat-card-header> fxFlexFill>
            <mat-card-header>
          <mat-card-title>
          <h3 class="text-white">{{course.courseTitle}}</h3>
       </mat-card-title>
       </mat-card-header>-->
         <img matCardImage src="../../../assets/img/python.jpg">
         <mat-card-content  [style.height.px]="'250px'">
            <div  fxLayoutAlign="start start" fxLayout="row wrap" fxLayoutGap="20px">
                <div class="text-white">
                  <h5>{{course.courseTitle}}</h5>
                </div> 
             <div  fxFlexAlign="center" class="text-white">
             <star-rating [starType]="'svg'" [rating]="2.63"
             [readOnly]="true"> </star-rating>  <!--(starClickChange)="onClick($event)"-->
               </div>
             </div>
          <p  align="justify" class="text-white" [ngStyle.lt-md]="'font-size:smaller'">
            {{course.courseDetail}}
           
         </p>
         <button (click)="getCourseDetail(course._id)" align="justify" mat-raised-button color="accent" class="course-btn">Learn More <mat-icon class="send">info</mat-icon></button>
         </mat-card-content>
       </mat-card>
      
 </mat-grid-tile>
</mat-grid-list>
</div>
<div *ngIf="coursesParent" style="padding-left:2%; padding-right:2%; ">
    <h5>Featured Courses for Parents:</h5>
    <mat-grid-list  [cols]="cols | async" rowHeight="40px"   gutterSize="10px"  >
       <mat-grid-tile
      *ngFor="let course of coursesParent" fxLayoutwrap
       [rowspan]="rowspan | async"  style="background: black;" >
  
     
      <mat-card  fxLayoutAlign="start start" fxLayout="column" class="course-card"  fxFlexFill >
         <!-- <mat-card-header>
            <mat-card-title>
            <h3 class="text-white">{{course.courseTitle}}</h3>
         </mat-card-title>
         </mat-card-header>-->
           <img matCardImage src="../../../assets/img/python.jpg">
           <mat-card-content  [style.height.px]="'250px'">
             <div  fxLayoutAlign="start start" fxLayout="row wrap" fxLayoutGap="10px">
               <div class="text-white">
                 <h5>{{course.courseTitle}}</h5>
               </div> 
            <div  fxFlexAlign="center" class="text-white">
            <star-rating [starType]="'svg'" [readOnly]="true" [rating]="ratingnumber" [rating]="ratingnumber"> 
              </star-rating>  <!--(starClickChange)="onClick($event)"-->
              </div>
            </div>
             <p  align="justify" class="text-white" [ngStyle.lt-md]="'font-size:smaller'">
             
              {{course.courseDetail}}
             
           </p>
           <button (click)="getCourseDetail(course._id)" align="justify" mat-raised-button color="accent" class="course-btn">Learn More <mat-icon class="send">info</mat-icon></button>
           </mat-card-content>
         </mat-card>
        
   </mat-grid-tile>
   <mat-grid-tile [rowspan]="rowspanclients | async" [colspan]="cols | async" style="background: rgb(255, 255, 255);" fxLayoutwrap >
      <mat-grid-tile-header>
       <h3> Our Clients</h3>
      </mat-grid-tile-header>
    <div fxLayout="row wrap"  fxLayoutAlign="space-between start" fxLayout.lt-md="column wrap"  fxLayoutAlign.lt-md="start center" fxLayoutGap="30px">
        <div> <img class="cf" src="../assets/clients/a2i-128.png" /></div> 
        <div fxFlexAlign="center"> <img class="cf" src="../../../assets/clients/actionaid.png" /></div>
        <div fxFlexAlign="center"> <img class="cf" src="../../../assets/clients/aloha-128.png" /></div>
        <div  fxFlexAlign="center"> <img class="cf" src="../../../assets/clients/sisimpur-128.png" /></div> 
        <div> <img class="cf" src="../../../assets/clients/SYDNEY-128.png" /></div>
        <div> <img  class="cf" src="../../../assets/clients/vnc-172.png" /></div>
    </div>
    
    </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
