
mat-card{
    width: 100%;
    height: 100%;
}
textarea{
    min-height: 150px;
    width: inherit;
    max-width: 90vw;
}
.review-structure{
    max-width: 100vw;
    padding-right: 23.1%;
    padding-top:2px;
}
.send{
    vertical-align: -30%;
    padding-left: 0.5em;
}
.contact-btn{
    min-width: 10vw;
    max-width: 40vw;
}
.radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.radio-button {
    margin: 5px;
}
  
 
mat-step-header .mat-step-label {
    overflow: visible;
}
