<div class="flex-container" style=" background-color: #bdbdbd"  >
    <mat-grid-list   [cols]="cols | async" rowHeight="40px"    gutterSize="2px"  >
   
    <mat-grid-tile colspan="10" rowspan="10" fxLayoutwrap style="margin: 0; padding-left: 8%;">
     <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="640" height="360" [src]="signedUrl" [poster]="imagethumb" data-setup="{}">

       <!-- Tracks need an ending tag thanks to IE9 -->
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
     </video>
   
    </mat-grid-tile> 
    <mat-grid-tile fxLayoutwrap [colspan]="colspan | async" rowspan="30"  style="background-color: white;" >
  
           <mat-accordion style="min-width:100% ;min-height:100%;"  fxLayout="column" class="comments-card" fxFlex="1 1 auto" fxFlexFill>
               <mat-expansion-panel  hideToggle="true"  (click)="syllabusiconclick()">
                 <mat-expansion-panel-header>
                   <mat-panel-title>
                       <mat-icon>{{syllabusicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                     <strong>Course Map :</strong>
                   </mat-panel-title>
                 </mat-expansion-panel-header>
                  <mat-accordion style="min-width:100% ;min-height:100%;" multi="true" fxFlex>
                     <mat-expansion-panel *ngFor="let session of course.courseSessions" expanded="true" hideToggle="true" (click)="sessioniconclick()"  >
                         <mat-expansion-panel-header>
                           <mat-panel-title>
                               <mat-icon>{{sessionicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                             <h6><strong>{{session.sessionWeek}} : {{session.sessionTitle}}</strong></h6>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                            <mat-list> 
                                 <mat-list-item role="listitem" *ngFor="let lecture of session.lectures">
                                   
                                   <a href="#">{{lecture.lectureTitle}} : {{lecture.lectureLink}}</a>
                                  
                                  </mat-list-item>

                                 
                               </mat-list>
                              
                       </mat-expansion-panel>
         
                    </mat-accordion>
               </mat-expansion-panel>
            
             </mat-accordion>
   
    </mat-grid-tile> 
    <mat-grid-tile colspan="10" rowspan="12"  fxLayoutwrap > 
            <mat-card fxLayoutAlign="start start" fxLayout="column" class="lecture-description" fxFlex="1 1 auto" fxFlexFill style="padding-left: 8%;">  
                <mat-card-header style="background-color: #e0e0e0 "> <mat-card-title ><h4 class="text-black">Lecture Description:</h4></mat-card-title> </mat-card-header>    
                <mat-card-content>     
                <p class="text-black">Lecture Description.</p>
                </mat-card-content> 
              </mat-card>
                
       </mat-grid-tile>
       <mat-grid-tile colspan="10" rowspan="6"  fxLayoutwrap > 
          <mat-card  fxLayout="column" fxLayoutAlign="start start"  class="lecture-description" fxFlex="1 1 auto" fxFlexFill style="padding-left: 8%;">  
              <mat-card-header style="background-color: #e0e0e0 "> <mat-card-title ><h5 class="text-black">Articles Description:</h5></mat-card-title> </mat-card-header>    
              <mat-card-content>  <a href="#">Article Link</a>
              </mat-card-content> 
            </mat-card>
              
     </mat-grid-tile>
       <mat-grid-tile colspan="10" rowspan="12"  fxLayoutwrap  > 
        
          <mat-card fxLayout="column"  fxLayoutAlign="start stretch" class="lecture-description" fxFlex="1 1 auto" fxFlexFill style="padding-left: 8%;" [ngStyle.xs]="'padding-left: 0;'">  
              <mat-card-header style="background-color: #e0e0e0 "> <mat-card-title ><h4 class="text-black">Quiz</h4></mat-card-title> </mat-card-header>    
              <mat-card-content>    
                  <form [formGroup]="firstFormGroup">
                      <mat-horizontal-stepper >
          
                         
                        <mat-step  >
                        
                            <mat-radio-group class="example-radio-group" >
                                What is your favourite season?
                                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                  {{season}}
                                </mat-radio-button>
                              </mat-radio-group>
                          <div>
                            <button mat-button matStepperNext type="button">Next</button>
                          </div>
                        </mat-step>
                        <mat-step>
                       
                            
                            <mat-radio-group class="example-radio-group" >
                                What is your favourite season?
                                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                  {{season}}
                                </mat-radio-button>
                              </mat-radio-group>
                          <div>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                          </div>
                        </mat-step>
                        <mat-step>
                            <mat-radio-group class="example-radio-group" >
                                What is your favourite season?
                                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                  {{season}}
                                </mat-radio-button>
                              </mat-radio-group>
                             <div>
                               <button mat-button matStepperPrevious type="button">Back</button>
                               <button mat-button matStepperNext type="button">Next</button>
                             </div>
                           </mat-step>
                           <mat-step>
                              
                              <mat-radio-group class="example-radio-group" >
                                  What is your favourite season?
                                  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                    {{season}}
                                  </mat-radio-button>
                                </mat-radio-group>
                               <div>
                                 <button mat-button matStepperPrevious type="button">Back</button>
                                 <button mat-button matStepperNext type="button">Next</button>
                               </div>
                             </mat-step>
                             <mat-step>
                                
                                <mat-radio-group class="example-radio-group" >
                                    What is your favourite season?
                                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                      {{season}}
                                    </mat-radio-button>
                                  </mat-radio-group>
                                 <div>
                                   <button mat-button matStepperPrevious type="button">Back</button>
                                   <button mat-button matStepperNext type="button">Next</button>
                                 </div>
                               </mat-step>
                      </mat-horizontal-stepper>
                    </form>
                    
              </mat-card-content>
                
          </mat-card>
              
     </mat-grid-tile>
   
   </mat-grid-list>


  <div class="review-structure my-second-theme" fxLayout="column"  fxLayoutAlign="start start" fxLayoutwrap   [ngStyle.xs]="'padding-left:0px;padding-right:0px;'">
    <div  fxFlex="1 1 auto" fxFlexFill>
        <mat-card class="comments-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutwrap fxFlex="1 1 auto" fxFlexFill style="padding-left: 8%;" >  
            <mat-card-header style="background-color: #e0e0e0"> <mat-card-title><h4 class="text-black">Please give a review and rate this course  :</h4></mat-card-title> </mat-card-header>    
            <mat-card-content>     
                <form  [formGroup]="commentForm" (ngSubmit)="sendCommentForm()">            
                    <mat-form-field  style="width:100%;">
                        <mat-icon matPrefix>message</mat-icon>
                        <textarea matInput placeholder="Comment" style="width:100%;" name="CommentBody" id="CommentBody" formControlName="CommentBody">
                          
                        </textarea>
                      </mat-form-field>
                      <button mat-raised-button type="submit" class="contact-btn" color="primary">Comment<mat-icon class="send">send</mat-icon></button>
                </form>
            </mat-card-content> 
          </mat-card>
      </div>
    <div fxFlex="1 1 auto" fxFlexFill>
     <mat-accordion  (expanded)="'true'" style="min-width:100% ;min-height:100%;" >
       <mat-expansion-panel  hideToggle="true" (click)="ratingiconclick()">
         <mat-expansion-panel-header>
           <mat-panel-title>
               <mat-icon>{{ratingicon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
             <strong>Ratings ang Reviews :</strong>
           </mat-panel-title>
         </mat-expansion-panel-header>
     
         <mat-card *ngFor="let comment of comments"> 
           
           <mat-card-header><mat-card-title style="font-size:1em "> {{comment.commentUser}}</mat-card-title>  <div fxFlex></div>  <mat-card-actions align="end"><button *ngIf="user.userID == comment.commentUserID" (click)="onDelete(comment.commentID)" mat-mini-fab>Del</button></mat-card-actions> </mat-card-header>  
             <p class="text-black"> {{comment.commentBody}}</p>
         </mat-card>
       </mat-expansion-panel>
    
     
     </mat-accordion>
         
     
    </div>
 
 </div>
   
</div>
